name: My First Workflow

on:
  workflow_dispatch:  # allows you to trigger manually from GitHub UI
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-run-docker:
    runs-on: self-hosted


    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t hello-world-nginx:v1 .

      - name: Run Docker container
        run: |
          docker run -d -p 8080:80 hello-world-nginx:v1
